# Xcode
build/
DerivedData/

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives
*.xcarchive

# User settings
*.xcuserstate
*.xcuserdata/

# Logs
*.log

# Temporary files
*.swp
*.swo
*.tmp

# iOS specific
.DS_Store
